<!DOCTYPE html>
<html lang="pt-br">
<body>
    <div class="container">
        <span>Oi, {{name}}</span>

        <br/>

        <span>Aqui está o resultado da busca <strong>{{search}}</strong> em nossa loja:</span>

        <br/>
        
        <div>
            <p>Resultado...</p>
        </div>

        <br/>

        <span>Caso não tenha sido você quem solicitou este email, por favor desconsidere.</span>

        <span>Obrigado!</span>
    <h3>Equipe | Codeby</h3>
</body>
</html>